<app-header [sidenav]="sidenav"></app-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <button mat-button class="menu-button">
            <mat-icon>note_add</mat-icon>
            <a routerLink="kpi">KPI</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>dashboard</mat-icon>
            <a routerLink="dashboard">Dashboard</a>
        </button>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>